:root {
    --text:#433E49;
    --text-secondary:#928490;
    --background:#DBC1AD;
    --background2:#dbd8ad;
    --hover:#F3E8EB;
    --accent:#ED7458
}

body{
	margin: 5;
	padding: 0;
	background-image: url("index.jpg");
	background-size: cover;
    background-color: var(--background);
	background-attachment: fixed;	
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
	color: var(--text);
	text-shadow: 1px 1px var(--text);
}
button{
	background: var(--hover);
	padding: 5px 5px;
	font-size: 13px;
	margin: 5px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
	color: var(--text);
}

button:hover {
	background: var(--background);
}

label{
	font-size: 15px;
	color: var(--text);
}

.tabelica{
    table-layout: fixed;
    width: 1700px;
}

.podnaslovi{
    font-size: 17px;
    color: #FFFF;
    background-color: var(--text-secondary);
    height: 25px;
    width: 360px;
    overflow: hidden;
}

.polja{
	border: 2px solid var(--text-secondary);
    position: relative;
    margin-left: -6px;
	height: 25px;
}

.fajl{
    margin-left: -4px;
	position: relative;
	height: 25px;
    color: var(--accent);
    border-style: inherit;
}

.picture{
    margin-left: -155px;
    margin-top: 25px;
	position: relative;
    color: var(--text-secondary);;
}

.labela{
	font-size: 15px;
	color: var(--text);
    font-weight: bold;
}

td{
	color: white;
}

