:root {
    --text:#433E49;
    --text-secondary:#928490;
    --background:#DBC1AD;
    --background2:#dbd8ad;
    --hover:#F3E8EB;
    --accent:#ED7458
}

body{
	margin: 5;
	padding: 0;
	background-image: url("index.jpg");
	background-size: cover;
    background-color: var(--background);
	background-attachment: fixed;	
	font-family: Arial, Helvetica, sans-serif;
}

h2, h3{
    color: var(--text);;
	text-shadow: 1px 1px var(--text-secondary);
}

button{
	background: var(--hover);
	padding: 5px 5px;
	font-size: 13px;
	margin: 5px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
	color: var(--text);
}

button:hover {
	background: var(--background);
}

.labele {
	font-size: 15px;
	color: var(--text-secondary);
}

.polja {
	border: 2px solid var(--text-secondary);
	margin-top: -13px;
	position: absolute;
	height: 25px;
}

td{
    background: none;
	padding: 5px 5px;
	font-size: 15px;
	color: #FFFF;
}

.combo{
	position: relative;
	height: 25px;
	color: var(--text);
}

p{
	position: relative;
	margin-left: 100px;
}

.tabela1{
	border-collapse: collapse;
	text-align: center;
}

thead{
	background-color: var(--accent);
	opacity: 0.9;
	border-top: none;
}

.tabela1>tbody>tr:nth-child(even){
	background-color: var(--background2);
}

.tabela1>tbody>tr{
	background-color: var(--background);
}

